.row{
  display:flex;
  justify-content: space-between;
}
.movieCard{
  /* display: flex; */
  /* width: 25rem; */
  height: 40rem;
  margin:  30px;
  padding:20%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding:1vmax;
  margin-bottom: auto;
  font: 1vmax;
} 
p.movieText.cardText{
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: hidden;
}
.scrollable{
  overflow-y: auto;
  max-height: 300px;
}


