.Div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} 

Header{
  flex:100%;

  text-align: center;
  background-color: #18334E;
  padding: 1%;
} 

h1{
  color:white;
  font-size: 3vmax;
}

.FormCity{
flex:100%;
} 

figure{
flex:40%;
padding: 2.5vmax;
text-align: left;

}

.card{
  flex: 20% !important;
  align-self: flex-start;
  align-self:center;
  }

.container{
  flex: 100%;
  flex-wrap: wrap;
  flex-shrink: inherit;
  justify-content: space-around;
}

footer{
flex: 100%;
justify-content: center;
align-self: center;
text-align: center;
} 