/* .Div{
  display: grid;
  grid-template-areas: 
  "Header Header"
  "FormCity FormCity"
  "Main Weather"
  "Movie Movie"
  "Footer Footer";
  grid-template-columns: repeat(2, 1fr);
  /* grid-auto-rows: minmax(3.2vmax, auto); */
  /* gap: 1.5vmax; */
/* } */

Header{
  /* grid-area:Header;
  grid-row: 1/-1; */
  text-align: center;
  background-color: #18334E;
  padding: 1%;
} 

h1{
  color:white;
  font-size: 3vmax;
}

.FormCity{
  /* grid-area: Form;
  grid-row: 2/-1;
  grid-column: 2/3; */
} 